.component {
  margin: 20px;
  padding: 10px;
  width: 300px;
  border: 1px solid black;
}

.name {
  color: darkSlateGray;
}

ul.component-list {
  display: flex;
  flex-wrap: wrap;
}

li.component-item {
  display: inline;
}

body {
  height: 125vh;
  font-family: sans-serif;
  background-color: ghostWhite;
}

#root {
  margin-top: 80px;
  padding: 30px;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  align-items: center;
  width: 100%;
}

header li {
  margin: 20px;
}

.form {
  width: 400px;
}

input[type=text], input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: #45a049;
}

button, input[type=submit], input[type=reset] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: auto;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li :hover:not(.active) {background-color: #111;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
  ul.topnav li.right,
  ul.topnav li {float: none;}
}
